body {
    font-family: Arial;
    background: #f2f4f7;
}

.box {
    width: 420px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
}

input,
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #007bff;
    color: white;
    border: none;
}

.note {
    font-size: 12px;
    color: gray;
}